/* Format for Service Options */
.service-option {
    display: inline-block;
    width: 150px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    }

.service-option img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease;
    }

.service-option img:hover {
     transform: scale(1.1);
    }

.service-option p {
    color: #820933;
    }

.service-option.selected {
    border: 3px solid #820933;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(130, 9, 51, 0.5);
    }
